@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: white;
  overflow-x: hidden;
}

.custom-bg {
    width: 100vw;
    background: url(../public/bg.png), lightgray 50% / cover repeat;
    background-blend-mode: SCREEN;
    background-color: #49b9bf;
    backface-visibility: hidden;
    z-index: -1;
    clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
}

main > div {
 @apply max-w-[1600px] px-28 mx-auto
}